node.data: ${NODE_DATA}
node.master: ${NODE_MASTER}

network.host: 0.0.0.0

cloud:
  kubernetes:
    service: {{ address('elasticsearch').split(".")[0] }}
    namespace: {{ namespace }}

discovery:
  type: kubernetes

plugin.mandatory: discovery-kubernetes
